html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}
.logo {
  grid-column: span 5;
  object-fit: cover;
  width: 100%;
  max-width: 200px;
}
.nav {
  grid-column: span 7;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
.nav-list-item {

}
.green-text {
  color: #495E57;
}
.green {
  background-color: #495E57;
}
.yellow {
  background-color: #F4CE14
}
.peach {
  background-color: #EE9972;
}

.tan {
  background-color: rgb(251 218 187);
}
.grey {
  background-color: rgb(237 239 238);
}
.black {
 background-color: rgb(51 51 51);
}