html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: 64px;
  /* line-height: 32px; */
}

h2 {
}
h3 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: xx-large;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

header {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}
header a {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-size: larger;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.markazi {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.karla {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.grid-system {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}
.content-section-padding {
  padding: 20px;
}

.height-holder {
  min-height: 500px;
}
.logo {
  grid-column: span 5;
  object-fit: cover;
  width: 100%;
  max-width: 200px;
}
.nav {
  grid-column: span 7;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  max-width: 650px;
}
.nav-list-item {
}
.green-text {
  color: #495e57;
}
.green {
  background-color: #495e57;
}
.yellow {
  background-color: #f4ce14;
}
.peach {
  background-color: #ee9972;
}

.tan {
  background-color: rgb(251 218 187);
}
.grey {
  background-color: rgb(237 239 238);
}
.black {
  background-color: rgb(51 51 51);
}
.flex {
  display: flex;
  width: 100%;
}
.flex-col {
  flex-direction: column;
  gap: 6;
}
.center-flex {
  justify-content: center;
  align-items: center;
}

.center-img {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
  border: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between the columns */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.image-column img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  padding: 10px; /* Add padding around the image */
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the text */
}

.text-column h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.text-column p {
  /* font-size: 1.2em;
  line-height: 1.6; */
}

.gap-4 {
  display: flex;
  flex-direction: column;
  gap: 8x;
}
